<% i18n_scope = 'static_pages.homepage' %>
<%= stylesheet_link_tag "homepage", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "themify-icons", "data-turbo-track": "reload" %>
<% content_for :title, "Homepage" %>

<div id="navbar" class="navigation">
	<div class="container">
		<nav class="navbar">
			<div class="navbar-brand">
				<a class="navbar-item" href="index.html">
					<h1 class="my-4"> Menuizer! </h1>
				</a>
				<div class="navbar-item hide-desktop">
					<a href="/admin" class="btn btn-solid-border">Login <i class="fa fa-angle-right"></i></a>
				</div>
			</div>
			<div class="navbar-menu" id="navigation">
				<ul class="navbar-start ml-auto"> </ul>
				<ul class="navbar-end ml-0">
					<li class="navbar-item">
						<a href="/admin" class="btn btn-solid-border">Dashboard <i class="fa fa-angle-right ml-2"></i></a>
					</li>
				 </ul>
			</div>
		</nav>
	</div>
</div>
<!-- Slider Start -->
<section class="banner is-flex is-align-items-center">
	<div class="banner-img-part"></div>
	<div class="container">
		<div class="columns">
			<div class="column is-8-widescreen is-10-desktop">
				<div class="block">
					<span class="is-uppercase text-sm letter-spacing">
						<%= t('powerful_experience', scope: i18n_scope) %>
					</span>
					<h1 class="my-4"><%= t('title', scope: i18n_scope).html_safe %></h1>
					<p class="mb-6"><%= t('description', scope: i18n_scope) %></p>

					<%= form_with url: new_restaurant_registration_path, method: :post do |form| %>
						<div class="columns is-multiline" style="max-width: 350px;">
							<div class="column is-12">
								<div class="field">
									<div class="field-label">
										<label class="label">
											<%= t('form_email', scope: i18n_scope) %>
										</label>
									</div>
									<div class="field-body">
										<div class="field">
											<div class="control">
												<%= form.text_field :email, class: "input" %>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="column is-12">
								<div class="field">
									<div class="field-label is-normal">
										<label class="label">
											<%= t('form_restaurant_name', scope: i18n_scope) %>
										</label>
									</div>
									<div class="field-body">
										<div class="field">
											<div class="control">
												<%= form.text_field :restaurant_name, class: "input" %>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<%= form.submit t('main_cta', scope: i18n_scope), class: 'btn btn-main' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- <section class="section about">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-4-widescreen is-6-tablet">
				<div class="about-item">
					<div class="icon">
						<i class="ti-light-bulb"></i>
					</div>

					<div class="content">
						<h4 class="mt-3 mb-3"><%= t('custom_solution', scope: i18n_scope)%></h4>
						<p class="mb-5"><%= t('custom_solution_description', scope: i18n_scope) %></p>

						<a href="#"> Read More </a>
					</div>
				</div>
			</div>

			<div class="column is-4-widescreen is-6-tablet">
				<div class="about-item">
					<div class="icon">
						<i class="ti-panel"></i>
					</div>
					<div class="content">
						<h4 class="mt-3 mb-3"><%= t('analyse', scope: i18n_scope)%> </h4>
						<p class="mb-5"><%= t('analyse_description', scope: i18n_scope)%> </p>
						<a href="#"> Read More </a>
					</div>
				</div>
			</div>

			<div class="column is-4-widescreen is-6-tablet">
				<div class="about-item">
					<div class="icon">
						<i class="ti-headphone-alt"></i>
					</div>
					<div class="content">
						<h4 class="mt-3 mb-3"><%= t('personalized_website', scope: i18n_scope)%></h4>
						<p class="mb-5"><%= t('personalized_website_description', scope: i18n_scope)%></p>
						<a href="#"> Read More </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section process">
	<div class="container">
		<div class="columns is-multiline is-desktop is-align-items-center">
			<div class="column is-5-desktop">
				<div class="process-block pl-4">
					<span class="is-uppercase text-sm letter-spacing"><%= t('why_us', scope: i18n_scope)%></span>
					<h2 class="mb-4 mt-3"><%= t('work_made_easy', scope: i18n_scope)%></h2>
					<p class="mb-4"><%= t('work_made_easy_description', scope: i18n_scope)%></p>
				</div>
			</div>

			<div class="column is-7-desktop">
				<div class="columns is-multiline custom-grid">
					<div class="column is-6-widescreen is-6-tablet">
						<div class="icon-block has-text-centered">
							<i class="ti-light-bulb"></i>
							<h5><%= t('data_analysis', scope: i18n_scope) %></h5>
							<p><%= t('data_analysis_description', scope: i18n_scope) %></p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pb-0">
						<div class="icon-block has-text-centered mt-30">
							<i class="ti-panel"></i>
							<h5><%= t('web_development', scope: i18n_scope) %></h5>
							<p><%= t('web_development_description', scope: i18n_scope) %></p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pt-0">
						<div class="icon-block has-text-centered">
							<i class="ti-search"></i>
							<h5><%= t('seo', scope: i18n_scope)%> </h5>
							<p><%= t('seo_description', scope: i18n_scope)%></p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pt-0">
						<div class="icon-block has-text-centered mt-30">
							<i class="ti-rocket"></i>
							<h5>Mobility</h5>
							<p>A complete web app solution for business</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>
<section class="section cta">
	<div class="container">
		<div class="columns is-desktop">
			<div class="column is-5-widescreen is-7-desktop">
				<div class="cta-content bg-white rounded">
					<h3 class="mb-5"><%= t('go_green', scope: i18n_scope).html_safe %></span> </h3>
					<p class="mb-30"><%= t('go_green_description', scope: i18n_scope).html_safe %></p>
				</div>
			</div>
		</div>
	</div>
</section>
<-- section portfolio start -->
<!-- 
<section class="section portfolio pb-0">
	<div class="container">
		<div class="columns">
			<div class="column is-8-desktop">
				<div class="heading">
					<h2 class="mb-5">We’ve Done Lot’s of Work, Let’s Check Some From Here</h2>
					<p>We have the best experts to elevate your business to the next level, try is and you will see! We have the best experts to elevate your </p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="columns is-desktop portfolio-gallery">
			<div class="column is-4-widescreen is-6-desktop">
				<div class="portflio-item is-relative mb-4">
					<a href="project-details.html">
						<%= image_tag "portfolio/1.jpg", alt: "", class: "w-100" %>
						<div class="overlay-item"><i class="ti-link"></i></div>

						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="column is-4-widescreen is-6-desktop">
				<div class="portflio-item is-relative mb-4">
					<a href="project-details.html">
						<%= image_tag "portfolio/2.jpg", alt: "", class: "w-100" %>
						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="column is-4-widescreen is-6-desktop">
				<div class="portflio-item is-relative mb-4">
					<a href="project-details.html">
						<%= image_tag "portfolio/3.jpg", alt: "", class: "w-100" %>

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="column is-4-widescreen is-6-desktop">
				<div class="portflio-item is-relative mb-4">
					<a href="project-details.html">
						<%= image_tag "portfolio/4.jpg", alt: "", class: "w-100" %>

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="column is-4-widescreen is-6-desktop">
				<div class="portflio-item is-relative mb-4">
					<a href="project-details.html">
						<%= image_tag "portfolio/5.jpg", alt: "", class: "w-100" %>

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="column is-4-widescreen is-6-desktop">
				<div class="portflio-item is-relative mb-4">
					<a href="project-details.html">
						<%= image_tag "portfolio/6.jpg", alt: "", class: "w-100" %>

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<-- section portfolio END -->
<!-- section Counter Start -->
<!-- <section class="section counter">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-3-widescreen is-6-desktop">
				<div class="counter-item has-text-centered">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">1730</span> +</h2>
					<p>Project Done</p>
				</div>
			</div>
			<div class="column is-3-widescreen is-6-desktop">
				<div class="counter-item has-text-centered">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">125 </span>M </h2>
					<p>User Worldwide</p>
				</div>
			</div>
			<div class="column is-3-widescreen is-6-desktop">
				<div class="counter-item has-text-centered">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">39</span></h2>
					<p>Availble Country</p>
				</div>
			</div>
			<div class="column is-3-widescreen is-6-desktop">
				<div class="counter-item has-text-centered">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">14</span></h2>
					<p>Award Winner </p>
				</div>
			</div>
		</div>
	</div>
</section>
<-- section Counter End  -->
<!-- <section class="section testimonial">
	<div class="container">
		<div class="columns is-desktop">
			<div class="column is-8-desktop">
				<div class="heading">
					<h2 class="mb-5">What they say about us</h2>
					<p>They are truely amazing in the industry, making the best and most intuitive UI, taking productivity off the roof!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="columns is-multiline">
			<div class="column is-12 testimonial-wrap">
				<div class="testimonial-block">
					
				</div>
			</div>
		</div>
	</div>
</section>  -->
