section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li Admin
          li Dashboard
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title
            | Dashboard
      .level-right style=("display: none;") 
        .level-item
section.section.is-main-section
  .tile.is-ancestor
    .tile.is-parent
      .card.tile.is-child
        .card-content
          .level.is-mobile
            .level-item
              .is-widget-label
                h3.subtitle.is-spaced
                  | Clients
                h1.title
                  | 512
            .level-item.has-widget-icon
              .is-widget-icon
                span.icon.has-text-primary.is-large
                  i.mdi.mdi-account-multiple.mdi-48px
    .tile.is-parent
      .card.tile.is-child
        .card-content
          .level.is-mobile
            .level-item
              .is-widget-label
                h3.subtitle.is-spaced
                  | Sales
                h1.title
                  | $7,770
            .level-item.has-widget-icon
              .is-widget-icon
                span.icon.has-text-info.is-large
                  i.mdi.mdi-cart-outline.mdi-48px
    .tile.is-parent
      .card.tile.is-child
        .card-content
          .level.is-mobile
            .level-item
              .is-widget-label
                h3.subtitle.is-spaced
                  | Performance
                h1.title
                  | 256%
            .level-item.has-widget-icon
              .is-widget-icon
                span.icon.has-text-success.is-large
                  i.mdi.mdi-finance.mdi-48px
  .card
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-finance
        | Performance
      a.card-header-icon href="#" 
        span.icon
          i.mdi.mdi-reload
    .card-content
      .chart-area
        div style=("height: 100%;") 
          .chartjs-size-monitor
            .chartjs-size-monitor-expand
              div
            .chartjs-size-monitor-shrink
              div
          canvas#big-line-chart.chartjs-render-monitor height="1000" style=("display: block; height: 400px; width: 1197px;") width="2992" 
  .card.has-table.has-mobile-sort-spaced
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-multiple
        | Clients
      a.card-header-icon href="#" 
        span.icon
          i.mdi.mdi-reload
    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
            thead
              tr
                th
                th Name
                th Company
                th City
                th Progress
                th Created
                th
            tbody
              tr
                td.is-image-cell
                  .image
                    img.is-rounded src="https://avatars.dicebear.com/v2/initials/rebecca-bauch.svg"
                td data-label="Name"  Rebecca Bauch
                td data-label="Company"  Daugherty-Daniel
                td data-label="City"  South Cory
                td.is-progress-cell data-label="Progress" 
                  progress.progress.is-small.is-primary max="100" value="79"  79
                td data-label="Created" 
                  small.has-text-grey.is-abbr-like title="Oct 25, 2020"  Oct 25, 2020
                td.is-actions-cell
                  .buttons.is-right
                    button.button.is-small.is-primary type="button" 
                      span.icon
                        i.mdi.mdi-eye
                    button.button.is-small.is-danger.jb-modal data-target="sample-modal" type="button" 
                      span.icon
                        i.mdi.mdi-trash-can
              tr
                td.is-image-cell
                  .image
                    img.is-rounded src="https://avatars.dicebear.com/v2/initials/felicita-yundt.svg" /
                td data-label="Name"  Felicita Yundt
                td data-label="Company"  Johns-Weissnat
                td data-label="City"  East Ariel
                td.is-progress-cell data-label="Progress" 
                  progress.progress.is-small.is-primary max="100" value="67"  67
                td data-label="Created" 
                  small.has-text-grey.is-abbr-like title="Jan 8, 2020"  Jan 8, 2020
                td.is-actions-cell
                  .buttons.is-right
                    button.button.is-small.is-primary type="button" 
                      span.icon
                        i.mdi.mdi-eye
                    button.button.is-small.is-danger.jb-modal data-target="sample-modal" type="button" 
                      span.icon
                        i.mdi.mdi-trash-can
              tr
                td.is-image-cell
                  .image
                    img.is-rounded src="https://avatars.dicebear.com/v2/initials/mr-larry-satterfield-v.svg" /
                td data-label="Name"  Mr. Larry Satterfield V
                td data-label="Company"  Hyatt Ltd
                td data-label="City"  Windlerburgh
                td.is-progress-cell data-label="Progress" 
                  progress.progress.is-small.is-primary max="100" value="16"  16
                td data-label="Created" 
                  small.has-text-grey.is-abbr-like title="Dec 18, 2020"  Dec 18, 2020
                td.is-actions-cell
                  .buttons.is-right
                    button.button.is-small.is-primary type="button" 
                      span.icon
                        i.mdi.mdi-eye
                    button.button.is-small.is-danger.jb-modal data-target="sample-modal" type="button" 
                      span.icon
                        i.mdi.mdi-trash-can
              tr
                td.is-image-cell
                  .image
                    img.is-rounded src="https://avatars.dicebear.com/v2/initials/mr-broderick-kub.svg" /
                td data-label="Name"  Mr. Broderick Kub
                td data-label="Company"  Kshlerin, Bauch and Ernser
                td data-label="City"  New Kirstenport
                td.is-progress-cell data-label="Progress" 
                  progress.progress.is-small.is-primary max="100" value="71"  71
                td data-label="Created" 
                  small.has-text-grey.is-abbr-like title="Sep 13, 2020"  Sep 13, 2020
                td.is-actions-cell
                  .buttons.is-right
                    button.button.is-small.is-primary type="button" 
                      span.icon
                        i.mdi.mdi-eye
                    button.button.is-small.is-danger.jb-modal data-target="sample-modal" type="button" 
                      span.icon
                        i.mdi.mdi-trash-can
              tr
                td.is-image-cell
                  .image
                    img.is-rounded src="https://avatars.dicebear.com/v2/initials/barry-weber.svg" /
                td data-label="Name"  Barry Weber
                td data-label="Company"  Schulist, Mosciski and Heidenreich
                td data-label="City"  East Violettestad
                td.is-progress-cell data-label="Progress" 
                  progress.progress.is-small.is-primary max="100" value="80"  80
                td data-label="Created" 
                  small.has-text-grey.is-abbr-like title="Jul 24, 2020"  Jul 24, 2020
                td.is-actions-cell
                  .buttons.is-right
                    button.button.is-small.is-primary type="button" 
                      span.icon
                        i.mdi.mdi-eye
                    button.button.is-small.is-danger.jb-modal data-target="sample-modal" type="button" 
                      span.icon
                        i.mdi.mdi-trash-can
              tr
                td.is-image-cell
                  .image
                    img.is-rounded src="https://avatars.dicebear.com/v2/initials/bert-kautzer-md.svg" /
                td data-label="Name"  Bert Kautzer MD
                td data-label="Company"  Gerhold and Sons
                td data-label="City"  Mayeport
                td.is-progress-cell data-label="Progress" 
                  progress.progress.is-small.is-primary max="100" value="62"  62
                td data-label="Created" 
                  small.has-text-grey.is-abbr-like title="Mar 30, 2020"  Mar 30, 2020
                td.is-actions-cell
                  .buttons.is-right
                    button.button.is-small.is-primary type="button" 
                      span.icon
                        i.mdi.mdi-eye
                    button.button.is-small.is-danger.jb-modal data-target="sample-modal" type="button" 
                      span.icon
                        i.mdi.mdi-trash-can
              tr
                td.is-image-cell
                  .image
                    img.is-rounded src="https://avatars.dicebear.com/v2/initials/lonzo-steuber.svg" /
                td data-label="Name"  Lonzo Steuber
                td data-label="Company"  Skiles Ltd
                td data-label="City"  Marilouville
                td.is-progress-cell data-label="Progress" 
                  progress.progress.is-small.is-primary max="100" value="17"  17
                td data-label="Created" 
                  small.has-text-grey.is-abbr-like title="Feb 12, 2020"  Feb 12, 2020
                td.is-actions-cell
                  .buttons.is-right
                    button.button.is-small.is-primary type="button" 
                      span.icon
                        i.mdi.mdi-eye
                    button.button.is-small.is-danger.jb-modal data-target="sample-modal" type="button" 
                      span.icon
                        i.mdi.mdi-trash-can
              tr
                td.is-image-cell
                  .image
                    img.is-rounded src="https://avatars.dicebear.com/v2/initials/jonathon-hahn.svg" /
                td data-label="Name"  Jonathon Hahn
                td data-label="Company"  Flatley Ltd
                td data-label="City"  Billiemouth
                td.is-progress-cell data-label="Progress" 
                  progress.progress.is-small.is-primary max="100" value="74"  74
                td data-label="Created" 
                  small.has-text-grey.is-abbr-like title="Dec 30, 2020"  Dec 30, 2020
                td.is-actions-cell
                  .buttons.is-right
                    button.button.is-small.is-primary type="button" 
                      span.icon
                        i.mdi.mdi-eye
                    button.button.is-small.is-danger.jb-modal data-target="sample-modal" type="button" 
                      span.icon
                        i.mdi.mdi-trash-can
              tr
                td.is-image-cell
                  .image
                    img.is-rounded src="https://avatars.dicebear.com/v2/initials/ryley-wuckert.svg" /
                td data-label="Name"  Ryley Wuckert
                td data-label="Company"  Heller-Little
                td data-label="City"  Emeraldtown
                td.is-progress-cell data-label="Progress" 
                  progress.progress.is-small.is-primary max="100" value="54"  54
                td data-label="Created" 
                  small.has-text-grey.is-abbr-like title="Jun 28, 2020"  Jun 28, 2020
                td.is-actions-cell
                  .buttons.is-right
                    button.button.is-small.is-primary type="button" 
                      span.icon
                        i.mdi.mdi-eye
                    button.button.is-small.is-danger.jb-modal data-target="sample-modal" type="button" 
                      span.icon
                        i.mdi.mdi-trash-can
              tr
                td.is-image-cell
                  .image
                    img.is-rounded src="https://avatars.dicebear.com/v2/initials/sienna-hayes.svg" /
                td data-label="Name"  Sienna Hayes
                td data-label="Company"  Conn, Jerde and Douglas
                td data-label="City"  Jonathanfort
                td.is-progress-cell data-label="Progress" 
                  progress.progress.is-small.is-primary max="100" value="55"  55
                td data-label="Created" 
                  small.has-text-grey.is-abbr-like title="Mar 7, 2020"  Mar 7, 2020
                td.is-actions-cell
                  .buttons.is-right
                    button.button.is-small.is-primary type="button" 
                      span.icon
                        i.mdi.mdi-eye
                    button.button.is-small.is-danger.jb-modal data-target="sample-modal" type="button" 
                      span.icon
                        i.mdi.mdi-trash-can
        .notification
          .level
            .level-left
              .level-item
                .buttons.has-addons
                  button.button.is-active type="button"  1
                  button.button type="button"  2
                  button.button type="button"  3
            .level-right
              .level-item
                small Page 1 of 3