- content_for :title, @menu.title

/ VERY UNSAFE PLEASE UPDATE ASAP
- if @menu.font_url && @menu.font_css_rule
  css:
    @import url(#{@menu.font_url});
    body * {
      #{@menu.font_css_rule.html_safe} !important;
      color: #{@menu.font_color} !important;
    }
    .card {
      background-color: #{@menu.card_color} !important;
    }

= render "restaurants/menus/templates/#{@template}/home", locals: { menu: @menu }
