- i18n_scope = 'views.admin.authentication.sessions.new'
- content_for :title, 'Sign In'

.section
  .container
    .columns.is-centered
      .column.is-half
        .card
          header.card-header
            p.card-header-title
              span.icon
                i.mdi.mdi-account-circle.default
              = t 'sign_in', scope: i18n_scope
          .card-content
            = form_for(resource, as: resource_name, url: session_path(resource_name), html: {'data-turbo' => "false"} )do |f|
              = render "common/devise_notifications", resource: resource
              .field
                .field-label.is-normal
                  label.label = t 'email', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input", required: true
                    p.help = t 'email_required_text', scope: i18n_scope
              .field
                .field-label.is-normal
                  label.label = t 'password', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.password_field :password, autocomplete: "current-password", class: "input", required: true
                    p.help = t 'password_required_text', scope: i18n_scope
              .field
                .field-label.is-normal
                .field-body
                  .field
                    - if devise_mapping.rememberable?
                      .field
                        = f.check_box :remember_me
                        = f.label :remember_me, t('remember_me', scope: i18n_scope)
                    div
                      = f.submit t('sign_in', scope: i18n_scope), class: "button is-primary"
              hr
              = render "common/devise_shared_links"
