- i18n_scope = "views.admin.tables.form"
- employee = locals[:resource]

= form_with(model: employee, url: locals[:url], method: ( locals[:method] || :put), local: true) do |form|
  = render 'common/devise_notifications', locals: { resource: employee }

  .columns
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'first_name', scope: i18n_scope
        .field-body
          .field
            .control
              = form.text_field :first_name, value: "#{employee.first_name}", class: "input"
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'last_name', scope: i18n_scope
        .field-body
          .field
            .control
              = form.text_field :last_name, value: "#{employee.last_name}", class: "input"
  .columns
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'email', scope: i18n_scope
        .field-body
          .field
            .control
              = form.email_field :email, value: "#{employee.email}", class: "input"

  .columns
    .column.is-fullwidth
      .field
        .field-label.is-normal
          label.label = t('restaurant', scope: i18n_scope)
        .field-body
          .field.is-fullwidth
            .control.select.is-multiple.is-fullwidth
              = form.collection_select :restaurant_ids, current_user.restaurants.order(:name), :id, :name, {}, { :class => "select js-multiselect is-multiple is-fullwidth", multiple: true }
