- employee = locals[:employee]

tr
  td.is-image-cell
    .image
      = image_tag employee.avatar, alt: employee.to_s, class: "is-rounded"
  td = employee.id
  td = employee.email
  td.has-text-grey.is-abbr-like = I18n.l(employee.created_at, format: "%b %d, %Y", locale: I18n.locale)
  / td = employee.status

  td.is-actions-cell
    .buttons.is-right
      button.jb-modal.button.is-warning.is-small data-target="edit_employee_modal_#{employee.id}"
        span.icon
          i.mdi.mdi-pencil
      = button_to admin_employee_path(employee.id), method: :delete, class: "button is-small is-danger" do 
        span.icon
          i.mdi.mdi-trash-can

    = render "common/edit_resource_modal", locals: { \
      resource: employee, \
      resource_path: admin_employee_path(employee), \
      resource_form_path: "admin/employees/form", \
      i18n_scope: locals[:i18n_scope], \
      method: :put \
    }
