- i18n_scope = "views.admin.employees.index"
- content_for :title, "Employees"

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li Employees
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = t 'employees', scope: i18n_scope
      .level-right
        .level-item
          - if current_user.manager?
            button.jb-modal.button.is-primary.is-small data-target="new_referral_modal"
              b = t 'invite_employee', scope: i18n_scope

section.section.is-main-section
  .card.has-table.has-mobile-sort-spaced
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-multiple
        | All Employees
      a.card-header-icon href="#" 
        span.icon
          i.mdi.mdi-reload
    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container style="overflow-x: auto; position:  relative"
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th
                  th = sort_link @q, :id, Employee.human_attribute_name(:id)
                  th = sort_link @q, :name, Employee.human_attribute_name(:name)
                  th = sort_link @q, :created_at, Table.human_attribute_name(:created_at)
                  th
              tbody
                - @employees.where.not(id: current_user.id).each do |employee|
                  = render 'table_row', locals: { employee: employee, i18n_scope: i18n_scope }
    = paginate @employees

section.section.is-main-section
  .card.has-table.has-mobile-sort-spaced
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-multiple
        | All referrals
      a.card-header-icon href="#" 
        span.icon
          i.mdi.mdi-reload
    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container style="overflow-x: auto; position:  relative"
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th
                  th = sort_link @q, :id, Employee.human_attribute_name(:id)
                  th = sort_link @q, :email, Employee.human_attribute_name(:name)
                  th = sort_link @q, :created_at, Table.human_attribute_name(:created_at)
                  th = sort_link @q, :status, Table.human_attribute_name(:status)
                  th
              tbody
                - ::Referral.related_restaurant_resource_pending(\
                    current_restaurant, \
                    'Referral::EmployeeReferral' \
                  ).each do |referral|
                  = render 'admin/referrals/referral_row', locals: { referral: referral, i18n_scope: i18n_scope }

- if current_user.manager?
  = render 'common/invite_referral_modal', locals: { \
    resource: ::Referral.new(relate_resource: current_restaurant), \
    resource_path: admin_referrals_path, \
    resource_form_path: "admin/referrals/employees/form", \
    i18n_scope: i18n_scope, \
  }
