- i18n_scope = "views.admin.managers.form"
- manager = locals[:resource]
- url = locals[:url]

= form_with(model: manager, url: url, local: true, method: (locals[:method] || :post)) do |form|
  .columns
    .column
      .field
        .field-label.is-normal
          label.label = t('first_name', scope: i18n_scope)
        .field-body
          .field
            .control
              = form.text_field :first_name, class: "input"
    .column
      .field
        .field-label.is-normal
          label.label = t('first_name', scope: i18n_scope)
        .field-body
          .field
            .control
              = form.text_field :last_name, class: "input"
  .columns
    .column
      .field
        .field-label.is-normal
          label.label = t('phone', scope: i18n_scope)
        .field-body
          .field
            .control
              = form.text_field :phone, class: "input"
    .column
      .field
        .field-label.is-normal
          label.label = t('email', scope: i18n_scope)
        .field-body
          .field
            .control
              = form.email_field :email, class: "input"
  .columns
    .column.is-fullwidth
      .field
        .field-label.is-normal
          label.label = t('restaurant', scope: i18n_scope)
        .field-body
          .field.is-fullwidth
            .control.select.is-multiple.is-fullwidth
              = form.collection_select :restaurant_ids, current_user.restaurants.order(:name), :id, :name, { include_blank: false, multiple: true }, { :class => "select js-multiselect is-multiple is-fullwidth", multiple: true }

  - if locals[:enable_submit] == true
    = form.submit t('update', scope: i18n_scope), class: "button is-primary"
  - if locals[:method] == :post
    .field
      .field-label.is-normal
        label.label = t('password', scope: i18n_scope)
      .field-body
        .field
          .control
            = form.password_field :password, class: "input"
    .field
      .field-label.is-normal
        label.label = t('password_confirmation', scope: i18n_scope)
      .field-body
        .field
          .control
            = form.password_field :password_confirmation, class: "input"
