- manager = locals[:manager]

tr
  td.is-image-cell
    .image
      = image_tag manager.avatar, alt: manager.to_s, class: "is-rounded"
  td data-label="Id" = manager.id
  td data-label="Name" = manager.to_s
  td data-label="Phone" = manager.phone
  td.is-actions-cell
    .buttons.is-right
      button.jb-modal.button.is-warning.is-small data-target="edit_manager_modal_#{manager.id}"
        span.icon
          i.mdi.mdi-pencil
      = button_to admin_manager_path(manager.id), method: :delete, class: "button is-small is-danger jb-modal" do 
        span.icon
          i.mdi.mdi-trash-can
      = render "common/edit_resource_modal", locals: { \
        resource: manager, \
        resource_path: admin_manager_path(manager), \
        resource_form_path: "admin/managers/form", \
        i18n_scope: locals[:i18n_scope], \
        method: :put \
      }
