- i18n_scope = "views.admin.managers.index"

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li Admin
          li = link_to t('manager', scope: i18n_scope), admin_managers_path, class: "has-text-grey"
          li Edit
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = @manager.to_s
      .level-right style=("display: none;") 
        .level-item
section.section.is-main-section
  = render "admin/managers/form", locals: { \
    resource: @manager, \
    url: admin_manager_path(@manager), \
    method: :put, \
    enable_submit: true \
  }
