- i18n_scope = "views.admin.managers.index"
- content_for :title, "Managers"

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t('admin', scope: i18n_scope)
          li = t('managers', scope: i18n_scope)
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = t('managers', scope: i18n_scope)
      .level-right
        .level-item
          button.jb-modal.button.is-primary.is-small data-target="new_manager_modal"
            b New Manager
section.section.is-main-section
  .card.has-table.has-mobile-sort-spaced
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-multiple
        = t 'all_managers', scope: i18n_scope
    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th
                  th = sort_link @q, :id, Manager.human_attribute_name(:id)
                  th = sort_link @q, :name, Manager.human_attribute_name(:name)
                  th = sort_link @q, :phone, Manager.human_attribute_name(:phone)
                  th
              tbody
                - @managers.where.not(id: current_user.id).each do |manager|
                  = render 'manager_row', locals: { manager: manager, i18n_scope: i18n_scope }
  = paginate @managers

  = render 'common/new_resource_modal', locals: { \
    resource: Manager.new, \
    resource_path: admin_managers_path, \
    resource_form_path: "admin/managers/form",\
    i18n_scope: i18n_scope \
  }
