- i18n_scope = "views.admin.items.form"
- item = locals[:resource]
/ - menu = item.menu
- url = locals[:url]

= form_with(model: item, url: url, remote: true, 'data-turbo': false) do |form|
  = render 'common/devise_notifications', locals: { resource: item }
  = form.hidden_field :menu_id
  .columns
    .column
      .field
        .field-label.is-normal
          label.label = t 'image', scope: i18n_scope
        .field-body
          .field#image-field
            #found-image
              - if item.image.attached?
                = image_tag item.image
            .field.file
              label.upload.control
                a.button.is-primary
                  span.icon
                    i.mdi.mdi-upload.default
                  span
                    = t 'choose_file', scope: i18n_scope
                    span style="display:none"
                      = form.file_field :image, accept: "image/*"
    .column
      .field
        .field-label.is-normal
          label.label Title
        .field-body
          .field
            .control
              = form.text_field :title, value: "#{item.title}", class: "input"
        p.help Required. Item title

  .field
    .field-label.is-normal
      label.label
        = t 'description', scope: i18n_scope
    .field-body
      .field
        .control
          = form.text_area :description, value: "#{item.description}", class: "textarea"

  .field
    .field-label.is-normal
      label.label
        = t 'ingredients', scope: i18n_scope
    .field-body
      .field
        .control
          = form.text_field :ingredients, value: "#{item.ingredients}", class: "input"

  .field
    .field-label.is-normal
      label.label
        = t 'price', scope: i18n_scope
        span = " (#{item.price_cents.currency})"
    .field-body
      .field
        .control
          = form.text_field :price, value: "#{item.price}", class: "input"

  .field
    .field-label.is-normal
      label.label
        = t 'category', scope: i18n_scope
    .field-body
      .field
        .control
          = form.collection_select :category_ids, item.menu.restaurant.categories.all.order(:title), :id, :title, { include_blank: false, multiple: true }, { :class => "select is-multiple js-multiselect is-fullwidth", multiple: true }

  .field
    .field-label.is-normal
      label.label
        = t 'tag', scope: i18n_scope
    .field-body
      .field
        .control
          = form.collection_select :tag_ids, Tag.all.order(:title), :id, :title, { include_blank: false, multiple: true }, { :class => "select is-multiple is-fullwidth js-multiselect", multiple: true }

