- item = locals[:item]

tr
  td.is-checkbox-cell
    label.b-checkbox.checkbox
      input data-objtype="#{item.class}" data-objid="#{item.id}" type="checkbox" value="false"
  td
    .has-text-centered
      - if item.image.attached?
        = image_tag item.image.variant(:thumb), style: "height:50px;"
  td = item.title
  td = item&.description&.truncate(50)
  td = item&.categories&.map(&:title)&.join(", ")
  td = humanized_money_with_symbol item.price
  td.is-actions-cell
    .buttons.is-right
      = link_to admin_menu_item_path(@menu, item), class: "button is-small is-primary jb-modal" do 
        span.icon
          i.mdi.mdi-eye
      button.jb-modal.button.is-warning.is-small data-target="edit_item_modal_#{item.id}"
        span.icon
          i.mdi.mdi-pencil
      = button_to admin_menu_item_path(@menu, item), method: :delete, class: "button is-small is-danger jb-modal" do 
        span.icon
          i.mdi.mdi-trash-can

    = render "common/edit_resource_modal", locals: { \
      resource: item, \
      resource_path: admin_menu_item_path(menu_id: @menu.id, id: item.id), \
      resource_form_path: "admin/menus/items/form", \
      method: :put \
    }
