- i18n_scope = "views.admin.items.show"

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope, class: "has-text-grey"
          li = link_to t('dashboard', scope: i18n_scope), admin_restaurants_path, class: "has-text-grey"
          li = link_to t('restaurants', scope: i18n_scope), admin_restaurant_path(Menu.find(@item.menu_id).restaurant_id), class: "has-text-grey"
          li = link_to t('menu', scope: i18n_scope), admin_menu_path(@item.menu_id), class: "has-text-grey"
          li = t 'item_entry', scope: i18n_scope
section.hero.is-hero-bar
  .hero-body
    .level 
      .level-left
        .level-item
          h1.title
            = @item.title 
        .level-right 
          .level-item style="display:none"
section.section.is-main-section
  .tile.is-ancestor
    .tile.is-parent
      .card.tile.is-child
        header.card-header
          p.card-header-title
            span.icon
              i.mdi.mdi-account-circle.default
            = t 'edit_item', scope: i18n_scope
        .card-content
          = render "form", locals: { resource: @item, menu: @item.menu, url: admin_menu_item_path(@item.menu, @item) }
    .tile.is-parent
      .card.tile.is-child
        header.card-header
          p.card-header-title
            span.icon
              i.mdi.mdi-account.default
            = t 'item', scope: i18n_scope
        .card-content
          .card
            .columns
              .column.is-4
                - if @item.image.attached?
                  = image_tag @item.image
                - else
                  = image_tag "https://via.placeholder.com/250"
              .column
                .columns
                  .column
                    strong = @item.title
                    br/
                    = @item.description
                    hr/
                    b Ingredients: 
                    i = @item.ingredients
                  .column
                    .is-flex.is-justify-content-center.is-align-content-center.is-fullheight
                      strong = @item.price

          .image.has-max-width.is-aligned-center style="height: 10rem; width: 10rem"
            
          .field
            label.label
              = t 'title', scope: i18n_scope
            .control.is-clearfix
              input.input.is-static[type="text" readonly value="#{@item.title}"]

          .field
            label.label
              = t 'description', scope: i18n_scope
            .control.is-clearfix
              input.input.is-static[type="text" readonly value="#{@item.description}"]

          .field
            label.label
              = t 'ingredients', scope: i18n_scope
            .control.is-clearfix
              input.input.is-static[type="text" readonly value="#{@item.ingredients}"]

          .field
            label.label
              = t 'price', scope: i18n_scope
            .control.is-clearfix
              input.input.is-static[type="text" readonly value="#{@item.price}"]

          .field
            .control.is-clearfix
              = button_to "Destroy this item", admin_menu_item_path(@menu, @item), method: :delete, class: "button is-danger"
