- i18n_scope = "views.admin.tables.form"
- employee = locals[:resource]

= form_with(model: employee, url: locals[:url], method: ( locals[:method] || :put), local: true) do |form|
  = render 'common/devise_notifications', locals: { resource: employee }
  = form.hidden_field :sender_id, value: current_user.id
  = form.hidden_field :relate_resource_id, value: current_restaurant.id
  = form.hidden_field :relate_resource_type, value: 'Restaurant'
  = form.hidden_field :type, value: 'Referral::EmployeeReferral'

  .columns
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'first_name', scope: i18n_scope
        .field-body
          .field
            .control
              = form.text_field :first_name, value: "#{employee.first_name}", class: "input"
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'last_name', scope: i18n_scope
        .field-body
          .field
            .control
              = form.text_field :last_name, value: "#{employee.last_name}", class: "input"
  .columns
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'email', scope: i18n_scope
        .field-body
          .field
            .control
              = form.email_field :email, value: "#{employee.email}", class: "input"

