- i18n_scope = "views.admin.aggregated_menus.index"
- content_for :title, "Aggregated Menu"

scss:

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li Aggregated Menu
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = t 'aggregated_menu', scope: i18n_scope
      .level-right
        .level-item
          = link_to "Preview", "#{aggregated_menus_url}?id=#{@restaurant.slug}"

section.section.is-main-section
  .columns
    .column.is-5
      .card
        header.card-header
          p.card-header-title Properties
        .card-content
          = form_with(model: @restaurant, url: admin_aggregated_menu_path(@restaurant)) do |form|
            = render 'common/devise_notifications', locals: { resource: @restaurant }

            .field
              .field-label.is-normal
                label.label Title
              .field-body
                .field
                  .control
                    = form.text_field :aggregated_menu_title, value: "#{@restaurant.aggregated_menu_title || @restaurant.name}", class: "input"
                  p.help Required. Main title
            .columns.is-multiline
              .column
                .field
                  .field-label.is-normal
                    label.label Background color
                  .field-body
                    .field
                      .control
                        = form.color_field :aggregated_menu_background, value: "#{@restaurant.aggregated_menu_background}", class: "input"
              .column
                .field
                  .field-label.is-normal
                    label.label Font color
                  .field-body
                    .field
                      .control
                        = form.color_field :aggregated_menu_text_color, value: "#{@restaurant.aggregated_menu_text_color}", class: "input"

              .column
                .field
                  .field-label.is-normal
                    label.label Card color
                  .field-body
                    .field
                      .control
                        = form.color_field :aggregated_menu_card_color, value: "#{@restaurant.aggregated_menu_card_color}", class: "input"
            .field
              .field-label.is-normal
                label.label Footer text
              .field-body
                .field
                  .control
                    = form.text_field :aggregated_menu_footer, value: "#{@restaurant.aggregated_menu_footer}", class: "input"

            .field
              .field-label.is-normal
                label.label Animation
              .field-body
                .field
                  .control.select.is-multiple.is-fullwidth
                    = form.select :aggregated_menu_animation, %w[zoom-in zoom-out spin left-to-right flip], { include_blank: false }, { :class => "select is-fullwidth" }
            
            = form.submit "Save", class: 'button is-primary'

    .column.is-7
      .card
        header.card-header
          p.card-header-title Preview
        .card-image
          iframe style="height: 50vh; width: 100%" src="#{aggregated_menus_url}?id=#{@restaurant.slug}" 
 