section.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;

  @media only screen and (max-width: 600px) {
    height: auto;
  }
}

.articles {
  margin: 5rem 0;
  margin-top: -100px;
  @media only screen and (max-width: 600px) {
    margin-top: 0px;
  }
}

.articles .content p {
  // line-height: 1.9;
  // margin: 15px 0;
}

.locale-switcher {
  position: fixed;
  right: 10px;
  top: 10px;
  border: 1px solid black;
  z-index: 10000;
}

.menu_list {
  max-width: 60vw;
  @media only screen and (max-width: 600px) {
    max-width: 100vw;
  }
}

.menu_item {
  border-radius: 16px;
  overflow: hidden;
}

.menu_item .card-content {
  // padding: 0 1rem 0 1.5rem;
}

.with_image {
  margin-top: 1rem;
}

.card-image .image img {
  padding: 5px;
  max-height: 150px !important;
  border-radius: 16px;
}

.item_price {
  color: #FF7B2C;
  font-weight: bold;
}

.content p {
  margin-bottom: 0px !important;
}

.is-pills {
  margin-top: 5px;
  padding-bottom: 1px;

  ul {
    border-bottom: none;
    gap: 10px;

    li { 
      border-radius: 10px; 
    }
  }

  a {
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }  
}

.category-name-section {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
