- i18n_scope = "views.restaurants.menus.show"
- menu = locals[:menu]
= stylesheet_link_tag "templates/_default", "data-turbo-track": "reload"

= render "restaurants/menus/templates/common/top_bar"

css:
  .link-color {
    background-color: #{menu.card_color} !important;
    color: white;
    font-weight: bold;
    border: 1px solid #{menu.font_color};
    border-radius: 0px !important;
  }

  .content {
    width: 100%;
    height: 100%;
  }

  .content .category-name-section {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 10px;
    z-index: 50;
  }

section.hero.is-medium.is-bold
  = render "restaurants/menus/templates/default/locale_switcher"

  .hero-body
    .container.has-text-centered
      h1.title = menu.title
      p.subtitle = menu.description

.container
  section.articles.is-fullwidth
    .tabs.is-centered.is-pills
      ul
        - menu.categories.uniq.sort_by { |c| c.placement_number }.each do |category|
          = link_to category.title, "##{category.title.parameterize}", class: 'link-color'

    - menu.categories.uniq.sort_by { |c| c.placement_number }.each do |category|
      .content
        .category-name-section.is-6 id="#{category.title.parameterize}"
          h1.title = category.title

        - category.items.each do |item|
          - next if item.hide
          = render 'restaurants/menus/templates/common/menu_item_card', \
            locals: { item: item, i18n_scope: i18n_scope }

javascript:
  document.addEventListener('turbo:load', function () {
    document.body.style.backgroundColor = "#{menu.background_color}";
    var hero = document.getElementsByClassName("hero")[0];
    hero.style.backgroundImage="url('#{Rails.application.routes.url_helpers.rails_blob_url(menu.image) if menu.image.attached?}')"
  });
