- i18n_scope = "views.admin.restaurants.index"
- content_for(:title, "Orders")

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li = t 'restaurants', scope: i18n_scope
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = t('orders', scope: i18n_scope)
      .level-right
        .level-item
          button.jb-modal.button.is-primary.is-small data-target="new_order_modal"
            b New Order

section.section.is-main-section
  .card.has-table.has-mobile-sort-spaced
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-multiple
        = t 'all_orders', scope: i18n_scope
      a.card-header-icon href="#" 
        span.icon
          i.mdi.mdi-reload
    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container style="overflow-x: auto; position:  relative"
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th
                  th = sort_link @q, :id, Order.human_attribute_name(:id)
                  th = sort_link @q, :order_uuid, Order.human_attribute_name(:order_uuid)
                  th = sort_link @q, :table, Order.human_attribute_name(:table)
                  th = sort_link @q, :created_at, Order.human_attribute_name(:created_at)
                  th = sort_link @q, :status, Order.human_attribute_name(:status)
                  th
              tbody
                - @orders.each do |order|
                  = render 'order_row', locals: { order: order, i18n_scope: i18n_scope }
  = paginate @orders

  / = render 'common/new_resource_modal', locals: { \
  /   resource: Restaurant.new(managers: [current_user]), \
  /   resource_path: admin_restaurants_path, \
  /   resource_form_path: "admin/restaurants/form",\
  /   i18n_scope: i18n_scope \
  / }
