- item = locals[:item]
- i18n_scope = locals[:i18n_scope]

.column
  .card.is-fullwidth.menu_item
    - if item.image.attached?
      .card-image
        figure.image style="display: block; margin-left: auto; margin-right: auto; width: 50%;"
          = image_tag item.image, style: "width: auto; height: auto;"

      .card-content.with_image.column.is-two-fifths
        .media
          .media-content
            p.title.is-4 = item.title.capitalize
        .content
          p = item.description
          - unless item.ingredients.nil?
            i = item.ingredients
        p.subtitle.item_price.is-6 = humanized_money_with_symbol item.price
    - else
      .card-content
        p.title.is-4 = item.title
        .columns.is-multiline.is-mobile
          .column.is-8
            p = item.description
            - unless item.ingredients.nil?
              i = item.ingredients
          .column.is-4
            .is-flex.is-justify-content-center.is-align-content-center.is-align-items-center style="height: 100%"
              b.subtitle.item_price.is-6 = humanized_money_with_symbol item.price
