- resource = local[:resource]

tr
  td
  td = resource.class.name
  td  
    - begin
      = resource&.name 
    - rescue NoMethodError
      = resource&.title
  td = resource.id

  td.is-actions-cell
    .buttons.is-right
      = button_to resource_route_generate(resource), method: :get, class: "button is-small is-primary" do 
        span.icon
          i.mdi.mdi-eye
      / button.jb-modal.button.is-warning.is-small data-target="edit_restaurant_modal_#{restaurant.id}"
        span.icon
          i.mdi.mdi-pencil
      = button_to admin_restaurant_path(resource.id), method: :delete, class: "button is-small is-danger" do 
        span.icon
          i.mdi.mdi-trash-can
