- i18n_scope = "views.admin.searches.index"

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li Search
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title Search results
      .level-right style=("display: none;") 
        .level-item
section.section.is-main-section
  .card.has-table.has-mobile-sort-spaced
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-multiple
        | All results
      a.card-header-icon href="#" 
        span.icon
          i.mdi.mdi-reload
    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container style="overflow-x: auto; position:  relative"
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th
                  th Resource type 
                  th name
                  th id
                  th
              tbody
                - @resources.each do |resource|
                  = render 'search_row', local: { resource: resource }
  /= paginate @resources
