- i18n_scope = "views.admin.restaurants.form"
- restaurant = locals[:resource]
- url = locals[:url]  

= form_with(model: restaurant, url: url, method:(locals[:method] || :post)) do |form|
  = render 'common/devise_notifications', locals: { resource: restaurant }
  
  .field.is-horizontal
    .field-label.is-normal
      label.label
        = t 'image', scope: i18n_scope
    .field-body
      .field
        .field.file
          label.upload.control
            a.button.is-primary
              span.icon
                i.mdi.mdi-upload.default
              span
                = t 'choose_file', scope: i18n_scope
                span style="display:none"
                  = form.file_field :image

  .columns
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'name', scope: i18n_scope
        .field-body
          .field
            .control
              = form.text_field :name, value: "#{restaurant&.name}", class: "input"
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'city', scope: i18n_scope
        .field-body
          .field
            .control
              = form.text_field :city, value: "#{restaurant&.city}", class: "input"
  .columns
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'managers', scope: i18n_scope
        .field-body
          .field
            .control.select.is-multiple.is-fullwidth
              = form.collection_select :manager_ids, restaurant.managers.order(:first_name), :id, :to_s, { include_blank: false, multiple: true }, { :class => "select js-multiselect is-multiple is-fullwidth", multiple: true }






