- restaurant = locals[:restaurant]

tr
  td
  td = restaurant.id
  td = restaurant.name
  td = restaurant.managers.map(&:to_s)
  td = restaurant.city
  td.is-actions-cell
    .buttons.is-right
      = button_to admin_restaurant_path(restaurant.id), method: :get, class: "button is-small is-primary" do 
        span.icon
          i.mdi.mdi-eye
      button.jb-modal.button.is-warning.is-small data-target="edit_restaurant_modal_#{restaurant.id}"
        span.icon
          i.mdi.mdi-pencil
      = button_to admin_restaurant_path(restaurant.id), method: :delete, class: "button is-small is-danger" do 
        span.icon
          i.mdi.mdi-trash-can

    = render "common/edit_resource_modal", locals: { \
      resource: restaurant, \
      resource_path: admin_restaurant_path(restaurant), \
      resource_form_path: "admin/restaurants/form", \
      i18n_scope: locals[:i18n_scope], \
      method: :put \
    }
