- i18n_scope = "views.admin.restaurants.index"
- content_for(:title, "Restaurant")

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li = t 'restaurants', scope: i18n_scope
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = t('restaurants', scope: i18n_scope)
      .level-right
        .level-item
          button.jb-modal.button.is-primary.is-small data-target="new_restaurant_modal"
            b New Restaurant


section.section.is-main-section
  .card.has-table.has-mobile-sort-spaced
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-multiple
        = t 'all_restaurants', scope: i18n_scope
      a.card-header-icon href="#" 
        span.icon
          i.mdi.mdi-reload
    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container style="overflow-x: auto; position:  relative"
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th
                  th = sort_link @q, :id, Restaurant.human_attribute_name(:id)
                  th = sort_link @q, :name, Restaurant.human_attribute_name(:name)
                  th = sort_link @q, :manger, Restaurant.human_attribute_name(:manager)
                  th = sort_link @q, :city, Restaurant.human_attribute_name(:city)
                  th
              tbody
                - @restaurants.each do |restaurant|
                  = render 'restaurant_row', locals: { restaurant: restaurant, i18n_scope: i18n_scope }
  = paginate @restaurants

  = render 'common/new_resource_modal', locals: { \
    resource: Restaurant.new(managers: [current_user]), \
    resource_path: admin_restaurants_path, \
    resource_form_path: "admin/restaurants/form",\
    i18n_scope: i18n_scope \
  }
