- i18n_scope = "views.admin.restaurants.show"
- content_for(:title, @restaurant.name || "Restaurant")

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li = link_to t('dashboard', scope: i18n_scope), admin_restaurants_path, class: "has-text-grey"
          li = t 'Restaurants', scope: i18n_scope 

section.hero.is-hero-bar
  .hero-body
    .level.is-fullwidth style="width: 100%"
      .level-left
        .level-item
          h1.title = @restaurant.name 
      .level-right 
        .level-item
          button.jb-modal.button.is-warning.is-small data-target="edit_restaurant_modal_#{@restaurant.id}"
            b Edit

section.section.is-main-section
  .card
    header.card-header
      .card-header-title
        .level.is-fullwidth style="width: 100%"
          .level-left
            .level-item
              span.icon
                i.mdi.mdi-lock.default
              = t 'menus', scope: i18n_scope
          .level-right
            .level-item
              button.jb-modal.button.is-primary.is-small data-target="new_menu_modal"
                b New Menu

    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th
                  th = t 'title', scope: i18n_scope
                  th
              tbody
                - @restaurant.menus&.each do |menu|
                  = render 'admin/menus/menu_row', locals: { menu: menu }

/ popup modals
= render 'common/new_resource_modal', locals: { \
  resource: Menu.new(restaurant: @restaurant), \
  resource_path: admin_menus_path,\
  resource_form_path: "admin/menus/form",\
  i18n_scope: i18n_scope \
}

= render "common/edit_resource_modal", locals: { \
  resource: @restaurant, \
  resource_path: admin_restaurant_path(@restaurant), \
  resource_form_path: "admin/restaurants/form", \
  i18n_scope: i18n_scope, \
  method: :put \
}
