- i18n_scope = 'views.admin.authentication.registrations.edit'
- content_for :title, 'Account'

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li = t 'profile', scope: i18n_scope
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = current_user
      .level-right style=("display: none;") 
        .level-item

.section
  .container
    .columns.is-centered
      .column.is-two-thirds
        .card
          header.card-header
            p.card-header-title
              span.icon
                i.mdi.mdi-account-circle.default
              = t 'title', scope: i18n_scope
          .card-content
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, 'data-turbo' => "false" }) do |f|
              = render "common/devise_notifications", resource: resource
              .columns
                .column
                  .field
                    .field-label
                      label.label = t 'first_name', scope: i18n_scope
                    .field-body
                      .field
                        .control
                          = f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "input"
                .column
                  .field
                    .field-label
                      label.label = t 'last_name', scope: i18n_scope
                    .field-body
                      .field
                        .control
                          = f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "input"
              .field
                .field-label
                  label.label = t 'phone_number', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.text_field :phone, autofocus: true, autocomplete: "phone", class: "input"
              .field
                .field-label
                  label.label = t 'email', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input", required: true
              .field
                .field-label.is-normal
                  label.label = t 'new_password', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.password_field :password, autocomplete: "current-password", class: "input"
              .field
                .field-label.is-normal
                  label.label = t 'new_password_confirmation', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.password_field :password_confirmation, class: "input"
              .field
                .field-label.is-normal
                  label.label = t 'current_password', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.password_field :current_password, autocomplete: "current-password", class: "input", required: true
                    p.help = t 'current_password_required_text', scope: i18n_scope

              .field.is-horizontal
                .field-body
                  .field
                    .control
                      = f.submit t('update', scope: i18n_scope), class: "button is-primary"
