- i18n_scope = 'views.admin.authentication.registrations.new'
- content_for :title, 'Sign Up'

.section
  .container
    .columns.is-centered
      .column.is-half
        .card
          header.card-header
            p.card-header-title
              span.icon
                i.mdi.mdi-account-circle.default
              = t 'sign_up', scope: i18n_scope
          .card-content
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {'data-turbo' => "false"}) do |f|
              = render "common/devise_notifications", resource: resource
              input type="hidden" id="registration_token" name="registration_token"
              .columns
                .column
                  .field
                    .field-label
                      label.label = t 'first_name', scope: i18n_scope
                    .field-body
                      .field
                        .control
                          = f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "input"
                .column
                  .field
                    .field-label
                      label.label = t 'last_name', scope: i18n_scope
                    .field-body
                      .field
                        .control
                          = f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "input"
              .field
                .field-label
                  label.label = t 'phone_number', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.text_field :phone, autofocus: true, autocomplete: "phone", class: "input"
              .field
                .field-label
                  label.label = t 'email', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input", required: true
                    p.help = t 'email_required_text', scope: i18n_scope
              .field
                .field-label.is-normal
                  label.label = t 'password', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.password_field :password, autocomplete: "current-password", class: "input", required: true
                    p.help = t 'password_required_text', scope: i18n_scope
              .field
                .field-label.is-normal
                  label.label = t 'password_confirmation', scope: i18n_scope
                .field-body
                  .field
                    .control
                      = f.password_field :password_confirmation, autocomplete: "current-password", class: "input", required: true
                    p.help = t 'password_confirmation_required_text', scope: i18n_scope
              .field.is-horizontal
                .field-body
                  .field
                    .control
                      = f.submit t('sign_up', scope: i18n_scope), class: "button is-primary"
              hr
              = render "common/devise_shared_links"
javascript:
  const params = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParams, prop) => searchParams.get(prop),
  });
  document.getElementById('registration_token').value = params.registration_token;

