- referral = locals[:referral]

tr
  td.is-image-cell
    .image
      = image_tag referral.avatar, alt: referral.to_s, class: "is-rounded"
  td data-label="Id" = referral.id
  td data-label="Name" = referral.to_s
  td data-label="Phone" = referral.email
  td data-label="Status" = referral.status

  td.is-actions-cell
    .buttons.is-right
      - if referral.status == :pending
        button.jb-modal.button.is-warning.is-small data-target="edit_referral::employeereferral_modal_#{referral.id}"
          span.icon
            i.mdi.mdi-pencil

        = button_to resend_referral_email_admin_referrals_path(referral.id), method: :put, 'data-tooltip': "Resend email", class: "has-tooltip-left button is-small is-primary jb-modal" do 
          span.icon
            i.mdi.mdi-email-send

    = render "common/edit_resource_modal", locals: { \
      resource: referral, \
      resource_path: admin_referral_path(referral), \
      resource_form_path: "admin/referrals/employees/form", \
      i18n_scope: locals[:i18n_scope], \
      method: :put \
    }
