<%
=begin

The container tag
- available local variables
  current_page : a page object for the currently displayed page
  total_pages  : total number of pages
  per_page     : number of items to fetch per page
  remote       : data-remote
  paginator    : the paginator that renders the pagination tags inside

=end
%>
<div class="card">
  <div class="card-content">
    <%= paginator.render do %>
      <nav class="pagination">
        <%= prev_page_tag unless current_page.first? %>
        <%= next_page_tag unless current_page.last? %>
        <ul class="pagination-list">
          <%= first_page_tag unless current_page.first? %>
          <% each_page do |page| %>
            <% if page.display_tag? %>
              <%= page_tag page %>
            <% elsif !page.was_truncated? %>
              <%= gap_tag %>
            <% end %>
          <% end %>
          <%= last_page_tag unless current_page.last? %>
        </ul>
      </nav>
    <% end %>
  </div>
</div>
