.card
  header.card-header
    p.card-header-title
      span.icon
        i.mdi.mdi-finance
      | Performance
    a.card-header-icon href="#" 
      span.icon
        i.mdi.mdi-reload
  .card-content
    .chart-area
      div style=("height: 100%;") 
        .chartjs-size-monitor
          .chartjs-size-monitor-expand
            div
          .chartjs-size-monitor-shrink
            div
        canvas#big-line-chart.chartjs-render-monitor height="1000" style=("display: block; height: 400px; width: 1197px;") width="2992" 