.tile.is-ancestor
  .tile.is-parent
    .card.tile.is-child
      .card-content
        .level.is-mobile
          .level-item
            .is-widget-label
              h3.subtitle.is-spaced
                | Clients
              h1.title
                | 512
          .level-item.has-widget-icon
            .is-widget-icon
              span.icon.has-text-primary.is-large
                i.mdi.mdi-account-multiple.mdi-48px
  .tile.is-parent
    .card.tile.is-child
      .card-content
        .level.is-mobile
          .level-item
            .is-widget-label
              h3.subtitle.is-spaced
                | Sales
              h1.title
                | $7,770
          .level-item.has-widget-icon
            .is-widget-icon
              span.icon.has-text-info.is-large
                i.mdi.mdi-cart-outline.mdi-48px
  .tile.is-parent
    .card.tile.is-child
      .card-content
        .level.is-mobile
          .level-item
            .is-widget-label
              h3.subtitle.is-spaced
                | Performance
              h1.title
                | 256%
          .level-item.has-widget-icon
            .is-widget-icon
              span.icon.has-text-success.is-large
                i.mdi.mdi-finance.mdi-48px