- stripe_client_id = locals[:stripe_client_id]

section.section.is-main-section
  .tabs
    ul
      li.is-active#account_settings
        a Account Settings
      li
        a Personal Settings
      li 
        a Global Settings

  .tab-sections
    .section.p-0#account_settings
      - if stripe_client_id
        p You're connected with a stripe account successfully!
        = stripe_client_id&.safe_value
      - else
        = form_with url: create_connected_account_third_party_payments_stripe_payments_path + ".js", remote: true, local: false, id: 'stripe_connected_account' do |f|
          = button_tag type: :submit, class: 'button is-primary' do
            span.icon
              i.mdi.mdi-cash-plus
            span Connect stripe

      /= form_with url: create_connected_account_third_party_payments_stripe_payments_path + ".js", remote: true, local: false, id: 'stripe_connected_account' do |f|
          = button_tag type: :submit, class: 'button is-primary' do
            span.icon
              i.mdi.mdi-cash-plus
            span Connect stripe