- i18n_scope = "views.admin.settings.index"
- content_for :title, "Settings"
= javascript_include_tag "stripe_connected_account", "data-turbo-track": "reload", defer: true, type: "module"

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li = t 'settings', scope: i18n_scope
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = t('settings', scope: i18n_scope)
      .level-right style=("display: none;") 
        .level-item

= render 'manager_settings', locals: { \
  stripe_client_id: ::Config.find_by( \
    key: 'third_party.stripe.connect_client_id', \
    restaurant_id: current_restaurant \
  )} if current_user.manager?
= render 'employee_settings' if current_user.employee?
