- content_for :title, @restaurant.name
- ActiveStorage::Current.url_options = { host: "localhost:3000" } if Rails.env.test? || Rails.env.development?
= stylesheet_link_tag "aggregated_menu_animations", "data-turbo-track": "reload"

css:
  body {
    background-color: #{@restaurant.aggregated_menu_background};
  }

  .card {
    background: #{@restaurant.aggregated_menu_card_color};
    color: #{@restaurant.aggregated_menu_font};
    border-bottom: 1px solid #{@restaurant.aggregated_menu_text_color};
  }

  .card:focus {
    outline: 0px;
    box-shadow: none;
    border-bottom: none;
  }

  .card:hover {
    color: #FF715B;
    background: transparent;
    border-bottom: none;
  }

  .loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #{@restaurant.aggregated_menu_background};
    z-index: 1;
  }

  .spinner {
    animation: #{@restaurant.aggregated_menu_animation} 2s;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .animate-out {
    -webkit-animation:  out-anim 1s linear forwards;
    animation:  out-anim 1s linear forwards;
    opacity: 0;
  }
  .footer-text {
    text-align: center;
    margin-bottom: 20px;
  }
  @keyframes out-anim {
    0% { opacity: 1 }
    100%  { opacity: 0 }
  }

.loader-container.animate
  .spinner
    = image_tag (@restaurant.image.attached? ? @restaurant.image.variant(resize_to_limit: [150, 150]).processed.url : '')

section style="min-height: 90vh; padding-bottom: 20px"
  .container.is-flex-direction-column.is-flex.is-justify-content-center.is-align-content-center style="min-height: 90vh"
    h1.title.has-text-centered style="color: #{@restaurant.aggregated_menu_text_color} !important" = @restaurant.name
    .columns.is-multiline
      - @restaurant.menus.each do |menu|
        .column.is-12
          a href="#{restaurant_menu_url(@restaurant.slug, menu.slug)}"
            .card style="background-color: #{@restaurant.aggregated_menu_card_color} !important"
              .card-content
                h1.title style="color: #{@restaurant.aggregated_menu_text_color} !important" = menu.title

section
  .footer-text
    = @restaurant.aggregated_menu_footer

javascript:
  function removeLoader(){
    setTimeout(() => { 
      loaderContainer.classList.add('animate-out');
      setTimeout(() => { 
        loaderContainer.style.display = "none";
      }, 1000);
    }, 3000);
  }
  const loaderContainer = document.querySelector('.loader-container');
  window.addEventListener('load', () => {
    removeLoader();
  });
