- category = locals[:category]

tr style="cursor: grab" data-categoryid=category.id 
  /td.is-image-cell
    .image
      = image_tag employee.avatar, alt: employee.to_s, class: "is-rounded"
  td
    i.mdi.mdi-drag-vertical
    = category.placement_number
  td = category.title
  td = category.items.count
  td.has-text-grey.is-abbr-like = category.created_at.strftime('%b %d, %Y')

  /td.has-text-grey.is-abbr-like = I18n.l(employee.created_at, format: "%b %d, %Y", locale: I18n.locale)
  / td = employee.status

  td.is-actions-cell
    .buttons.is-right
      button.jb-modal.button.is-warning.is-small data-target="edit_category_modal_#{category.id}"
        span.icon
          i.mdi.mdi-pencil
      = button_to admin_category_path(category.id), method: :delete, class: "button is-small is-danger" do 
        span.icon
          i.mdi.mdi-trash-can

    = render "common/edit_resource_modal", locals: { \
      resource: category, \
      resource_path: admin_category_path(category), \
      resource_form_path: "admin/categories/form", \
      i18n_scope: locals[:i18n_scope], \
      method: :put \
    }
