- i18n_scope = "views.admin.categories.form"
- category = locals[:resource]
- url = locals[:url]

= form_with(model: category, url: url) do |form|
  = render 'common/devise_notifications', locals: { resource: category }

  = form.hidden_field :restaurant_id

  .field
    .field-label.is-normal
      label.label Title
    .field-body
      .field
        .control
          = form.text_field :title, value: "#{category.title}", class: "input", autofocus: true
        p.help Required. Category title
  