- i18n_scope = "views.admin.categories.index"
- content_for :title, "Categories"

= javascript_include_tag "sortable", "data-turbo-track": "reload", defer: true, type: "module"

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li Categories
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = t 'categories', scope: i18n_scope
      .level-right
        .level-item
          - if current_user.manager?
            button.jb-modal.button.is-primary.is-small data-target="new_category_modal"
              b = t 'add_category', scope: i18n_scope

section.section.is-main-section
  .card.has-table.has-mobile-sort-spaced
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-multiple
        | All categories
      a.card-header-icon href="#" 
        span.icon
          i.mdi.mdi-reload
    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container style="overflow-x: auto; position:  relative"
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th = sort_link @q, :position, Category.human_attribute_name(:position)
                  th = sort_link @q, :email, Category.human_attribute_name(:name)
                  th = sort_link @q, :items, Category.human_attribute_name(:items)
                  th = sort_link @q, :created_at, Category.human_attribute_name(:created_at)

                  th
              tbody id="sortable-items"
                - @categories.sort_by { |c| c.placement_number }.each do |category|
                  = render 'admin/categories/category_row', locals: { category: category, i18n_scope: i18n_scope }

= render 'common/new_resource_modal', locals: { \
  resource: Category.new(restaurant: current_restaurant), \
  resource_path: admin_categories_path,\
  resource_form_path: "admin/categories/form",\
  i18n_scope: i18n_scope \
}
