.card:not(:last-child) {
  margin-bottom: $default-padding;
}

.card {
  border-radius: $radius-large;
  border: $card-border;

  &.has-table {
    .card-content {
      padding: 0;
    }
    .b-table {
      border-radius: $radius-large;
      overflow: hidden;
    }
  }

  &.is-card-widget {
    .card-content {
      padding: $default-padding * .5;
    }
  }

  .card-header {
    border-bottom: 1px solid $base-color-light;
  }

  .card-content {
    hr {
      margin-left: $card-content-padding * -1;
      margin-right: $card-content-padding * -1;
    }
  }

  .is-widget-icon {
    .icon {
      width: 5rem;
      height: 5rem;
    }
  }

  .is-widget-label {
    .subtitle {
      color: $grey;
    }
  }
}

.card {
  .media:not(:last-child) {
    margin-bottom: 0.75rem;
  }
    
  // Flex content order putting `.card-image` on right /* NOTE: Add this line */
  &.card--reverse-order { /* NOTE: Add this line */
    flex-direction: row-reverse;
  } /* NOTE: Add this line */

  &.is-horizontal {
    // min-width: 400px;
    max-width: 100%;
    // flex-direction: row /* NOTE: Remove this line */
    display: flex;
    flex-basis: 50ex;
    flex-grow: 0;
    flex-shrink: 1;
    .card-image {
      flex: 4;
      flex-shrink: 1;

      .image {
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        img{ 
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .card-content {
      flex: 3;
    }
    .media .media-content {
      @include touch {
        
      }
    }
  }
}

.card.is-horizontal .media .media-content {
  overflow-x: clip !important;
}
