.field-label {
  text-align: left !important;
}

.field {
  &.has-check {
    .field-body {
      margin-top: $default-padding * .125;
    }
  }
  .control {
    .mdi-24px.mdi-set, .mdi-24px.mdi:before {
      font-size: inherit;
    }
  }
}
.upload {
  .upload-draggable {
    display: block;
  }
}

.input, .textarea, select {
  box-shadow: none;

  &:focus, &:active {
    box-shadow: none!important;
  }
}

.switch input[type=checkbox]+.check:before {
  box-shadow: none;
}

.switch, .b-checkbox.checkbox {
  input[type=checkbox] {
    &:focus + .check, &:focus:checked + .check {
      box-shadow: none!important;
    }
  }
}

.b-checkbox.checkbox input[type=checkbox], .b-radio.radio input[type=radio] {
  &+.check {
    border: $checkbox-border;
  }
}

.switch {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-right: 0.5em;
}
.switch + .switch:last-child {
  margin-right: 0;
}
.switch input[type=checkbox] {
  position: absolute;
  left: 0;
  opacity: 0;
  outline: none;
  z-index: -1;
}
.switch input[type=checkbox] + .check {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 2.75em;
  height: 1.575em;
  padding: 0.2em;
  background: hsl(0deg, 0%, 71%);
  border-radius: 4px;
  transition: background 150ms ease-out, box-shadow 150ms ease-out;
}

.switch input[type=checkbox] + .check:before {
  content: "";
  display: block;
  border-radius: 4px;
  width: 1.175em;
  height: 1.175em;
  background: hsl(0deg, 0%, 96%);
  transition: transform 150ms ease-out;
  will-change: transform;
  transform-origin: left;
}
.switch input[type=checkbox] + .check.is-elastic:before {
  transform: scaleX(1.5);
  border-radius: 4px;
}
.switch input[type=checkbox]:checked + .check {
  background: hsl(171deg, 100%, 41%);
}

.switch input[type=checkbox]:checked + .check:before {
  transform: translate3d(100%, 0, 0);
}
.switch input[type=checkbox]:checked + .check.is-elastic:before {
  transform: translate3d(50%, 0, 0) scaleX(1.5);
}
.switch input[type=checkbox]:focus, .switch input[type=checkbox]:active {
  outline: none;
}
.switch .control-label {
  padding-left: 0.5em;
}
.switch:hover input[type=checkbox] + .check {
  background: rgba(181, 181, 181, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check {
  background: rgba(0, 209, 178, 0.9);
}

.switch.is-rounded input[type=checkbox] + .check {
  border-radius: 9999px;
}
.switch.is-rounded input[type=checkbox] + .check:before {
  border-radius: 9999px;
}
.switch.is-rounded input[type=checkbox].is-elastic:before {
  transform: scaleX(1.5);
  border-radius: 9999px;
}
.switch.is-outlined input[type=checkbox] + .check {
  background: transparent;
  border: 0.1rem solid hsl(0deg, 0%, 71%);
  padding: 0.1em;
}

.switch.is-outlined input[type=checkbox] + .check:before {
  background: hsl(0deg, 0%, 71%);
}
.switch.is-outlined input[type=checkbox]:checked + .check {
  border-color: hsl(171deg, 100%, 41%);
}

.switch[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  color: hsl(0deg, 0%, 48%);
}