.modal-card {
  width: $modal-card-width;
}

.modal-card-foot {
  background-color: $modal-card-foot-background-color;
}

@include mobile {
  .modal .animation-content .modal-card {
    width: $modal-card-width-mobile !important;;
    margin: 0 auto;
  }
}

@include mobile {
  .modal-card {
    width: $modal-card-width-mobile;
  }
}
