@keyframes zoom-in {
  from { transform: scale(0.1); }
  to { transform: scale(1); }
}

@keyframes zoom-out {
  from { transform: scale(1); }
  to { transform: scale(0); }
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

@keyframes left-to-right {
  0% { left: 0; }
  50% { left: 100%; }
  100% { left: 0; }
}

@keyframes flip {
  0% { transform: scale(1) rotate3d(-1, 1, 0, 0deg); }
  50% { transform: scale(0.4) rotate3d(-1, 1, 0, -90deg); }
  100% { transform: scale(1) rotate3d(-1, 1, 0, -180deg); }
}
