@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* Theme style (colors & sizes) */
@import "./theme-default";

/* Bulma */
@import "bulma/bulma";

/* Mixins */
@import "./mixins";

@import "@creativebulma/bulma-tooltip/dist/bulma-tooltip";
@import "tail.select.js/css/default/tail.select-light.css";

/* Theme components */
@import "./nav-bar";
@import "./title-bar";
@import "./hero-bar";
@import "./card";
@import "./tiles";
@import "./form";
@import "./main-section";
@import "./modal";
@import "./footer";
@import "./misc";
@import "./aside";
@import "./table";

.container {
  @include touch {
    margin: 0px 20px 0px 20px;
  }
}

html {
  scroll-behavior: smooth;
}


.hide-desktop { display: none; }
@include touch {
  .hide-mobile { display: none; }
  .hide-desktop { display: block; }
}
