- i18n_scope = "views.admin.tables.form"
- table = locals[:resource]

= form_with(model: table, url: locals[:url], method: (locals[:method] || :put), local: true) do |form|
  = render 'common/devise_notifications', locals: { resource: table }
  = form.hidden_field :restaurant_id
  .columns
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'name', scope: i18n_scope
        .field-body
          .field
            .control
              = form.text_field :name, value: "#{table.name}", class: "input"
    .column
      .field
        .field-label.is-normal
          label.label
            = t 'seats_available', scope: i18n_scope
        .field-body
          .field
            .control
              = form.number_field :seats_available, value: "#{table.seats_available}", class: "input"
