- table = locals[:table]

tr
  td
  td = table.id
  td = table.name
  td = table.seats_available

  td.is-actions-cell
    .buttons.is-right
      button.jb-modal.button.is-warning.is-small data-target="edit_table_modal_#{table.id}"
        span.icon
          i.mdi.mdi-pencil
      = button_to admin_table_path(table.id), method: :delete, class: "button is-small is-danger" do 
        span.icon
          i.mdi.mdi-trash-can

    = render "common/edit_resource_modal", locals: { \
      resource: table, \
      resource_path: admin_table_path(table), \
      resource_form_path: "admin/tables/form", \
      i18n_scope: locals[:i18n_scope], \
      method: :put \
    }
