- i18n_scope = "views.admin.tables.index"
- content_for :title, "Tables"

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li Tables
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = t 'tables', scope: i18n_scope
      .level-right
        .level-item
          button.jb-modal.button.is-primary.is-small data-target="new_table_modal"
            b = t 'new_table', scope: i18n_scope

section.section.is-main-section
  .card.has-table.has-mobile-sort-spaced
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-multiple
        | All results
      a.card-header-icon href="#" 
        span.icon
          i.mdi.mdi-reload
    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container style="overflow-x: auto; position:  relative"
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th
                  th = sort_link @q, :id, Table.human_attribute_name(:id)
                  th = sort_link @q, :name, Table.human_attribute_name(:name)
                  th = sort_link @q, :seats_available, Table.human_attribute_name(:seats_available)
                  th
              tbody
                - @tables.each do |table|
                  = render 'table_row', locals: { table: table, i18n_scope: i18n_scope }
    = paginate @tables

    = render 'common/new_resource_modal', locals: { \
      resource: Table.new(restaurant: current_restaurant), \
      resource_path: admin_tables_path, \
      resource_form_path: "admin/tables/form",\
      i18n_scope: i18n_scope \
    }
