- i18n_scope = "views.admin.menus.form"
- menu = locals[:resource]
- url = locals[:url]

= form_with(model: menu, url: url) do |form|
  = render 'common/devise_notifications', locals: { resource: menu }

  = form.hidden_field :restaurant_id

  .field
    .field-label.is-normal
      label.label Title
    .field-body
      .field
        .control
          = form.text_field :title, value: "#{menu.title}", class: "input"
        p.help Required. Menu title
  .columns
    .column
      .field
        .field-label.is-normal
          label.label Font color
        .field-body
          .field
            .control
              = form.color_field :font_color, value: "#{menu.font_color}"
    .column
      .field
        .field-label.is-normal
          label.label Card color
        .field-body
          .field
            .control
              = form.color_field :card_color, value: "#{menu.card_color}"
    .column
      .field
        .field-label.is-normal
          label.label Background Color
        .field-body
          .field
            .control
              = form.color_field :background_color, value: "#{menu.background_color}"
            p.help Required. default: white
  .columns
    .column
      .field
        .field-label.is-normal
          label.label Font Url
        .field-body
          .field
            .control
              = form.text_field :font_url, class: "input"
            p.help Menu font family url
    .column
      .field
        .field-label.is-normal
          label.label CSS rules for font family
        .field-body
          .field
            .control
              = form.text_field :font_css_rule, class: "input" 
              code eg. font-family: 'Silkscreen', cursive;
  .field
    .field-label.is-normal
      label.label Description
    .field-body
      .field
        .control
          = form.text_area :description, value: "#{menu.description}", class: "textarea"
        p.help Required. Menu description

  .field
    .field-label.is-normal
      label.label Footer Text
    .field-body
      .field
        .control
          = form.text_area :footer_text, value: "#{menu.footer_text}", class: "textarea"
        p.help Required. Menu Footer text

  hr/
  .field.is-horizontal
    .field-label.is-normal
      label.label
        = t 'image', scope: i18n_scope
    .field-body
      .field#image-field
        #found-image
          - if menu.image.attached?
            = image_tag menu.image
        .field.file
          label.upload.control
            a.button.is-primary
              span.icon
                i.mdi.mdi-upload.default
              span
                = t 'choose_file', scope: i18n_scope
                span style="display:none"
                  = form.file_field :image
