- menu = locals[:menu]
- i18n_scope = locals[:i18n_scope]

tr
  td
  td = menu.title
  td.has-text-grey.is-abbr-like = menu.created_at.strftime('%b %d, %Y')
  td.has-text-grey.is-abbr-like = menu.updated_at.strftime('%b %d, %Y')

  td.is-actions-cell
    .buttons.is-right
      = link_to admin_menu_path(menu.id), class: "has-tooltip-left button is-small is-primary jb-modal", 'data-tooltip': "View" do 
        span.icon
          i.mdi.mdi-eye
      button.has-tooltip-left.jb-modal.button.is-warning.is-small data-tooltip="Edit" data-target="edit_menu_modal_#{menu.id}"
        span.icon
          i.mdi.mdi-pencil
      = button_to admin_menu_path(menu.id), method: :delete, 'data-tooltip': "Destroy", class: "has-tooltip-left button is-small is-danger jb-modal" do 
        span.icon
          i.mdi.mdi-trash-can

    = render "common/edit_resource_modal", locals: { \
        resource: menu, \
        resource_path: admin_menu_path(menu.id), \
        resource_form_path: "admin/menus/form", \
        i18n_scope: locals[:i18n_scope], \
        method: :put \
      }
