- i18n_scope = "views.admin.menus.index"
- content_for :title, "Menu"

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li = t('menus', scope: i18n_scope)
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title = t('menus', scope: i18n_scope)
      .level-right style=("display: none;") 
        .level-item

section.section.is-main-section
  .card
    header.card-header
      .card-header-title
        .level.is-fullwidth style="width: 100%"
          .level-left
            .level-item
              span.icon
                i.mdi.mdi-lock.default
              = t 'menu', scope: i18n_scope
          .level-right
            .level-item
              button.jb-modal.button.is-primary.is-small data-target="new_menu_modal"
                b New Menu

    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th
                  th = t 'title', scope: i18n_scope
                  th = t 'created_at', scope: i18n_scope
                  th = t 'updated_at', scope: i18n_scope
                  th
              tbody
                - @menus&.each do |menu|
                  = render 'admin/menus/menu_row', locals: { menu: menu, i18n_scope: i18n_scope }
      = paginate @menus

= render 'common/new_resource_modal', locals: { \
  resource: Menu.new(restaurant: current_restaurant), \
  resource_path: admin_menus_path,\
  resource_form_path: "admin/menus/form",\
  i18n_scope: i18n_scope \
}
