- i18n_scope = "views.admin.menus.show"
- content_for(:title, @menu.title || "Menu")
= javascript_include_tag "image_picker", "data-turbo-track": "reload", defer: true, type: "module"
= javascript_include_tag "search_form_auto_submit", "data-turbo-track": "reload", defer: true, type: "module"
= javascript_include_tag "list_actions", "data-turbo-track": "reload", defer: true, type: "module"

section.section.is-title-bar
  .level
    .level-left
      .level-item
        ul
          li = t 'admin', scope: i18n_scope
          li = link_to t('dashboard', scope: i18n_scope), admin_restaurants_path, class: "has-text-grey"
          li = link_to t('restaurants', scope: i18n_scope), admin_restaurant_path(@menu.restaurant_id), class: "has-text-grey"
          li = t 'menu', scope: i18n_scope
section.hero.is-hero-bar
  .hero-body
    .level
      .level-left
        .level-item
          h1.title
            = @menu.title
        .level-item
          .menu.is-menu-main
            .navbar-item.has-dropdown.has-dropdown-with-icons.has-divider.has-user-avatar.is-hoverable
              button.is-small.is-button
                span Options
                span.icon
                  i.mdi.mdi-chevron-down
              .navbar-dropdown
                = link_to t('qr_code_download', scope: i18n_scope), rails_blob_path( @menu.qr_code.qr_file, disposition: "attachment"), class: 'navbar-item'
                = link_to "Menu Preview", @menu.qr_code.url, class: 'navbar-item'
                hr.navbar-divider/
                a.navbar-item.jb-modal data-target="edit_menu_modal_#{@menu.id}" = t('edit_menu', scope: i18n_scope)
section.section.is-main-section
  .card
    header.card-header
      .card-header-title
        .level.is-fullwidth style="width: 100%"
          .level-left
            .level-item
              span.icon
                i.mdi.mdi-lock.default 
              = t('menu_items', scope: i18n_scope)
            .level-item.is-flex
              = search_form_for(@q, class: 'form' , url: admin_menu_path(@menu), id: "search_form_auto_submit") do |f| 
                .columns.is-mobile
                  .column.is-8
                    = f.search_field :title_or_description_cont, placeholder: t('title_search_box_placeholder', scope: i18n_scope), class: 'input is-small', type: 'text'
                  .column.is-4.hide-desktop
                    = f.submit t('title_search_box_placeholder', scope: i18n_scope), class: 'button is-small'
          .level-left
            .level-item
              .menu.is-menu-main.mr-2
                .navbar-item.has-dropdown.has-dropdown-with-icons.has-divider.has-user-avatar.is-hoverable
                  button.is-small.is-button.is-warning
                    span = t('bulk_actions', scope: i18n_scope)
                    span.icon
                      i.mdi.mdi-chevron-down
                  .navbar-dropdown
                    = link_to t('hide_item', scope: i18n_scope), '#', class: 'navbar-item', id: "hide_items"
                    = link_to t('destroy_item', scope: i18n_scope), '#', class: 'navbar-item', id: "destroy_items"
              button.jb-modal.button.is-primary.is-small data-target="new_item_modal"
                b = t('new_item', scope: i18n_scope)
    .card-content
      .b-table.has-pagination
        .table-wrapper.has-mobile-cards
          .table-container style="overflow-x: auto; position: relative"
            table.table.is-fullwidth.is-striped.is-hoverable.is-sortable.is-fullwidth
              thead
                tr
                  th.is-checkbox-cell
                    label.b-checkbox.checkbox
                      input type="checkbox" value="false" id="select-all-items"
                  th
                  th = sort_link @q, :title, Item.human_attribute_name(:title)
                  th = sort_link @q, :description, Item.human_attribute_name(:description)
                  th = sort_link @q, :categories_title, Item.human_attribute_name(:categories)
                  th = sort_link @q, :price, t('price', scope: i18n_scope)
                  th
              tbody
                - @items&.uniq&.each do |item|
                  = render 'admin/menus/items/item_row', locals: { item: item }
            = paginate @items

/ popup modals
= render "common/new_resource_modal", locals: { \
  resource: Item.new(menu: @menu), \
  resource_path: admin_menu_items_path(menu_id: @menu.id),\
  resource_form_path: "admin/menus/items/form",\
  i18n_scope: i18n_scope \
}

= render "common/edit_resource_modal", locals: { \
  resource: @menu, \
  resource_path: admin_menu_path(@menu.id), \
  resource_form_path: "admin/menus/form", \
  i18n_scope: i18n_scope, \
  method: :put \
}

