- i18n_scope = "views.common.devise_shared_links"

- if controller_name != 'sessions'
  = link_to t('log_in', scope: i18n_scope), new_session_path(resource_name)
  br
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to t('sign_up', scope: i18n_scope), new_registration_path(resource_name)
  br
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to t('forgot_password', scope: i18n_scope), new_password_path(resource_name)
