<% resource ||= locals[:resource] %>

<% if resource.errors.any? %>
  <div class="notification is-danger">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div>
            <span class="icon"><i class="mdi mdi-buffer default"></i></span>
            <b>
              <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
              %>
            </b>
            <div class="content">
              <ul>
                <% resource.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="level-right">
        <button type="button" class="button is-small is-white">
          <span> Dismiss </span>
        </button>
      </div>
    </div>
  </div>
<% end %>
