- resource = locals[:resource]
- resource_path = locals[:resource_path]
- resource_form_path = locals[:resource_form_path]

- i18n_scope = locals[:i18n_scope]

.modal id="edit_#{resource.class.to_s.downcase}_modal_#{resource.id}"
  .modal-background.jb-modal-close
  .modal-card
    header.modal-card-head
      p.modal-card-title = resource.to_s
      button.delete.jb-modal-close aria-label="close"
    section.modal-card-body
      = render resource_form_path, locals: { \
        resource: resource, \
        url: resource_path, \
        method: :put \
      }

    footer.modal-card-foot
      button.button.jb-modal-close Cancel
      = link_to t("update_#{resource.class.to_s.downcase}", scope: i18n_scope), {}, class: "modal-form-submit button is-primary"
  button.modal-close.is-large.jb-modal-close aria-label="close"
