- resource = locals[:resource]
- resource_path = locals[:resource_path]
- resource_form_path = locals[:resource_form_path]

- i18n_scope = locals[:i18n_scope]

.modal id="new_#{resource.class.to_s.downcase}_modal"
  .modal-background.jb-modal-close
  .modal-card
    header.modal-card-head
      p.modal-card-title = t "new_#{resource.class.to_s.downcase}", scope: i18n_scope
      button.delete.jb-modal-close aria-label="close"
    section.modal-card-body
      = render resource_form_path, locals: { \
        resource: resource, \
        url: resource_path, \
        method: :post \
      }

    foote.modal-card-foot
      button.button.jb-modal-close = t 'cancel', scope: i18n_scope
      = link_to t("create_#{resource.class.name}", scope: i18n_scope), {}, class: "modal-form-submit button is-primary"
  button.modal-close.is-large.jb-modal-close aria-label="close"
