<footer class="footer">
  <div class="container-fluid">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          © 2022, &nbsp; <a href="https:/menuizer.herokuapp.com"> Menuizer </a>
        </div>
        <div class="level-item">
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="logo">
            <a href="">
              <img src="" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
