- i18n_scope = "views.layouts.aside"
- sidebar_menu_items = current_restaurant.sidebar_menu_items || []

aside.aside.is-placed-left.is-expanded
  .aside-tools
    .aside-tools-label
      span
        b = t 'admin_panel', scope: i18n_scope
  .menu.is-menu-main
    - if sidebar_menu_items.include?("restaurants") || @current_user.superadmin?
      p.menu-label = t 'restaurants', scope: i18n_scope
      ul.menu-list
        li.p-2
          .select.is-small.is-fullwidth
            select#current_restaurant data-current-restaurant="#{current_restaurant&.id}"
              - current_user.restaurants.each do |restaurant|
                option value="#{restaurant.id}" = restaurant.name
    - else
      .is-5.title.menu-label.p-2.pb-4 style="border-bottom: 1px solid #4a4a4a"
        = current_restaurant.name

    p.menu-label = t 'orders', scope: i18n_scope
    ul.menu-list
      li 
        = link_to admin_orders_path, class: 'has-icon' do
          span.icon
            i.mdi.mdi-cart
          span.menu-item-label = t 'orders', scope: i18n_scope
      - if sidebar_menu_items.include?("tables")
        li
          = link_to admin_tables_path, class: 'has-icon' do
            span.icon
              i.mdi.mdi-table-chair
            span.menu-item-label = t 'tables', scope: i18n_scope
    - if sidebar_menu_items.include?("dashboard")
      p.menu-label = t 'general_settings', scope: i18n_scope
      ul.menu-list
        li
          = link_to admin_root_path, class: "has-icon" do
            span.icon
              i.mdi.mdi-desktop-mac
            span.menu-item-label = t 'dashboard', scope: i18n_scope
    p.menu-label = t 'restaurants', scope: i18n_scope
    ul.menu-list
      - if sidebar_menu_items.include?("restaurants") && current_user.manager?
        li
          = link_to admin_restaurants_path do
            span.icon.has-update-mark
              i.mdi.mdi-table
            span.menu-item-label = t 'restaurant', scope: i18n_scope
      - if sidebar_menu_items.include?("menus")
        - if Config.get_config('core.qr_code_menu_only_mode', restaurant_id: current_restaurant.id)
          li
            - ::Menus::Create.new(params: { title: 'default_menu', restaurant_id: current_restaurant.id }).call unless current_restaurant&.menus&.first&.id
            = link_to admin_menu_path(current_restaurant&.menus&.first&.id), class: 'has-icon' do
              span.icon
                i.mdi.mdi-square-edit-outline
              span.menu-item-label = t 'menu', scope: i18n_scope
        - else
          li
            = link_to admin_menus_path, class: 'has-icon' do
              span.icon
                i.mdi.mdi-square-edit-outline
              span.menu-item-label = t 'menus', scope: i18n_scope
          li 
            = link_to admin_aggregated_menus_path, class: 'has-icon' do
              span.icon
                i.mdi.mdi-square-edit-outline
              span.menu-item-label = t 'aggregated_menu', scope: i18n_scope
      li
        = link_to admin_categories_path do
            span.icon
              i.mdi.mdi-table
            span.menu-item-label = t 'categories', scope: i18n_scope

    p.menu-label Management
    ul.menu-list
      - if sidebar_menu_items.include?("managers") && current_user.manager?
        li
            = link_to admin_managers_path, class: "has-icon" do
              span.icon
                i.mdi.mdi-account-circle
              span.menu-item-label = t 'managers', scope: i18n_scope
      - if sidebar_menu_items.include?("employees")
        li
          = link_to admin_employees_path, class: "has-icon" do
            span.icon
              i.mdi.mdi-account-circle
            span.menu-item-label = t 'employees', scope: i18n_scope
      li
        = link_to admin_settings_path, class: "has-icon" do
          span.icon
            i.mdi.mdi-credit-card-outline
          span.menu-item-label = t 'settings', scope: i18n_scope
      li
        a.has-icon href="" 
          span.icon
            i.mdi.mdi-help-circle
          span.menu-item-label = t 'help', scope: i18n_scope
