<footer class="footer">
  <div class="container-fluid">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          
        </div>
        <div class="level-item">
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="logo">
            <a href="">
              <img src="" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="footer section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-3-widescreen is-6-tablet">
        <div class="widget">
          <div class="logo mb-4">
            <h3>Menuizer</h3>
          </div>
          <p>The last restaurant management app for all your needs</p>
        </div>
      </div>
      <div class="column is-2-widescreen is-6-desktop is-6-tablet ml-auto">
        <div class="widget">
          <h4 class="is-capitalize mb-4">Company</h4>

          <ul class="list-unstyled footer-menu lh-35">
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="column is-3-widescreen is-6-desktop is-6-tablet">
        <div class="widget">
          <h4 class="is-capitalize mb-4">Support</h4>

          <ul class="list-unstyled footer-menu lh-35">
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="column is-3-widescreen is-6-desktop is-6-tablet">
        <div class="widget widget-contact">
          <h4 class="is-capitalize mb-4">Get in Touch</h4>
          <h6><a href="tel:+48577599234" > <i class="ti-headphone-alt mr-3"></i>support@menuizer.co</a></h6>
          <h6><a href="mailto:support@menuizer.co" > <i class="ti-mobile mr-3"></i>+48 577-599-234</a></h6>

          <ul class="list-inline footer-socials mt-5">
            <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="ti-facebook mr-2"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/"><i class="ti-twitter mr-2"></i></a></li>
            <li class="list-inline-item"><a href="https://www.pinterest.com//"><i class="ti-linkedin mr-2 "></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-btm py-4 mt-6">
      <div class="columns">
        <div class="column is-6-widescreen">
          <div class="copyright">
            &copy; 2022, &nbsp; 
            <a href="https://menuizer.co"> 
              <% if controller.controller_name.include?('admin') %>
                <%= current_restaurant.name %>
              <% else %>
                <span class="text-color"> Menuizer </span>
              <% end %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>