<footer class="footer section">
  <div>
    <div class="footer-btm mt-5">
      <div class="columns">
        <div class="column is-6-widescreen">
          <div class="copyright">
            &copy; 2022, &nbsp; 
            <a href="https://menuizer.co"> 
              <% if controller.controller_name.include?('admin') %>
                <%= current_restaurant.name %>
              <% else %>
                <span class="text-color"> Menuizer </span>
              <% end %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
