- i18n_scope = "views.layouts.navbar"

nav#navbar-main.navbar.is-fixed-top
  .navbar-brand
    a.navbar-item.is-hidden-desktop.jb-aside-mobile-toggle
      span.icon
        i.mdi.mdi-forwardburger.mdi-24px
    .navbar-item.has-control
      .control
        = form_with url: admin_searches_path, method: :get do |f|
          = f.text_field :q, class: 'input', placeholder: "Search everywhere..."

  .navbar-brand.is-right
    a.navbar-item.is-hidden-desktop.jb-navbar-menu-toggle data-target="navbar-menu" 
      span.icon
        i.mdi.mdi-dots-vertical
  #navbar-menu.navbar-menu.fadeIn.animated.faster
    .navbar-end
      - if I18n.locale == :en
        = link_to 'PL', { locale: :pl }, class: 'navbar-item'
      - if I18n.locale == :pl
        = link_to 'EN', { locale: :en }, class: 'navbar-item'
      .navbar-item.has-dropdown.has-dropdown-with-icons.has-divider.has-user-avatar.is-hoverable
        a.navbar-link.is-arrowless
          .is-user-avatar
            img alt=current_user.to_s src="#{current_user.avatar}"
          .is-user-name
            span = current_user.to_s
          span.icon
            i.mdi.mdi-chevron-down
  
        .navbar-dropdown
          = link_to edit_user_registration_path, class: 'navbar-item' do
            span.icon
              i.mdi.mdi-account
            span My Profile
          a.navbar-item
            span.icon
              i.mdi.mdi-settings
            span Settings
          a.navbar-item
            span.icon
              i.mdi.mdi-email
            span Messages
          hr.navbar-divider/
          = link_to destroy_user_session_path, data: { \
              turbo_method: :delete, \
              turbo_confirm: "Are you sure?" \
            }, class: "navbar-item" do
            span.icon
              i.mdi.mdi-logout
            span Log Out
        
      = link_to destroy_user_session_path, data: { \
              turbo_method: :delete, \
              turbo_confirm: "Are you sure?" \
            }, class: "navbar-item is-desktop-icon-only" do
        span.icon
          i.mdi.mdi-logout
        span Log out
