.modal#sample-modal
  .modal-background.jb-modal-close
  .modal-card
    header.modal-card-head
      p.modal-card-title Confirm action
      button.delete.jb-modal-close aria-label="close"
    section.modal-card-body
      p This will permanently delete <b>Some Object</b>
      p This is sample modal

    foote.modal-card-foot
      button.button.jb-modal-close Cancel
      button.button.is-danger.jb-modal-close Delete
  button.modal-close.is-large.jb-modal-close aria-label="close"
