doctype html
html.has-aside-left.has-aside-mobile-transition.has-navbar-fixed-top.has-aside-expanded
  head
    title = "Menuizer | #{yield(:title)}"
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    link rel="dns-prefetch" href="https://fonts.gstatic.com"

    = stylesheet_link_tag "https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    /= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js", "data-turbo-track": "reload", defer: true
  body
    #app
      = render 'layouts/navbar'
      = render 'layouts/aside'
      - if flash.any?
        .notification.is-info
          .level
            .level-left
              .level-item
                span.icon
                  i.mdi.mdi-buffer.default
              .level-item
                div
                  - flash.each do |type, message|
                    - if message.is_a?(Array)
                      ul
                      - message.each do |msg|
                        li = msg
                    - else 
                      = message

            .level-right
              button.button.is-small.is-white.jb-notification-dismiss type="button"  Dismiss
      = yield
      = render 'layouts/admin_footer'
      = javascript_include_tag "https://cdn.jsdelivr.net/npm/tail.select@0.5.15/js/tail.select-full.js"

