doctype html
html
  head
    title = "Menuizer | #{yield(:title)}"
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    link rel="dns-prefetch" href="https://fonts.gstatic.com"
    
    = stylesheet_link_tag "https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module"

  body style="overflow-x: clip"
    - if flash.any?
      .notification.is-danger
        .level
          .level-left
            .level-item
              span.icon
                i.mdi.mdi-buffer.default
            .level-item
              div
                - flash.each do |type, message|
                  - if message.is_a?(Array)
                    ul
                    - message.each do |msg|
                      li = msg
                  - else 
                    = message

          .level-right
            button.button.is-small.is-white.jb-notification-dismiss type="button"  Dismiss
    = yield
    = render 'layouts/menu_footer'
